* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/*------------------------------------LANDING PAGE-----------------------------------------*/
.LPBody, .OWBody {
    background-color: #120141;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.LPHeader, .OWHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    background: #0E0132;
    color: white;
}

.logo {/*FOR ALL PAGES*/
    display: flex;
    align-items: center;
}

.logo img , .boostify img{/*FOR ALL PAGES*/
    width: 60px;
    height: 40px;
    padding-right: 10px;
}

.LPLogin {
    border-radius: 5px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    background-color: #05cb82;
    border: none;
    cursor: pointer;
}
.LPright button:hover {
    background-color: #47f7b7;
    box-shadow: 0 0 10px #47f7b7;
    color: white;
    transition: 200ms;
}

.Welcome { /*Ang "UP YOUR GAME WITH BOOSTIFY"*/
    position: relative;
    height: 650px;
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.Welcome::before {
    background-image: url('Images/controller.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.6;
}

.content p, .first, .Games100, .centered-list, .stars, .GetStarted{
    isolation: isolate;
}

.content {
    color: white;
    text-align: center;
}

.first { /*Gi pa gamay ang opacity sa "UP YOUR GAME WITH BOOSTIFY"*/
    font-size: 50px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

.Games100 {
    font-size: 25px;
}

.centered-list {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 20px 0 0 0;
    display: inline-block; /* Center the list itself */
}

.centered-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 5px;
}

.centered-list li::before {
    content: '✔'; /* Unicode character for checkmark */
    margin-right: 10px;
    color: #47f7b7; /* Change color as needed */
}

.centered-list li:last-child {
    margin-bottom: 0; /* Removes margin from the last list item */
}

.stars {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.stars::before {
    content: '★ ★ ★ ★ ★'; /* Unicode characters for stars */
    color: gold; /* Change color as needed */
    margin-right: 10px;
    font-size: 25px; /* Adjust size as needed */
}

.GetStarted {
    border-radius: 20px;
    font-size: 20px;
    padding: 13px 120px;
    font-weight: bold;
    border-style: solid;
    border-color: #47f7b7;
    box-shadow: 0 0 40px #47f7b7;
    color: #ecfff8;
    background-color: #05cb82;
    cursor: pointer;
    margin-bottom: 15px;
}
.GetStarted:hover {
    background-color: #47f7b7;
    color: white;
    transition: 200ms;
}

.LPcontainer2, .LPcontainer3, .LPcontainer4, .LPcontainer5 {
    background-color: #0a0124;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    margin-top: 10px;
}
.LPcontainer2 img, .LPcontainer3 img, .LPcontainer4 img, .LPcontainer5 img {
    box-shadow: 0 0 10px #Fe5efc;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.LPcont2, .LPcont4 {
    color: white;
    font-size: 20px;
    padding-right: 100px;
}
.LPtitle2, .LPtitle3, .LPtitle4, .LPtitle5{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.LPcont3, .LPcont5 {
    color: white;
    font-size: 20px;
    padding-left: 100px;
}

/*--------Frequently Asked Questions---------*/
.LPwrapper {
    display: flex;
    flex-direction: column;
    background-color: #0a0124;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 150px;
    margin-top: 10px;
    text-align: center;
}

.LPwrapper h1 {
    color: white;
    margin-bottom: 30px;
}

.collapsible, .collapsible2, .collapsible3, .collapsible4 {
    width: 100%;
    overflow: hidden;
    font-weight: 500;
}

.collapsible input, .collapsible2 input, .collapsible3 input, .collapsible4 input {
    display: none;
}

.collapsible label, .collapsible2 label, .collapsible3 label, .collapsible4 label {
    position: relative;
    font-weight: 600;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
    transition: background-color 0.3s ease; /* Transition for smooth color change */
}

.collapsible input:not(:checked) + label, .collapsible2 input:not(:checked) + label, .collapsible3 input:not(:checked) + label, .collapsible4 input:not(:checked) + label {
    background-color: #707070; /* Change back to white when unchecked */
}

.collapsible label:hover:not(:checked), .collapsible2 label:hover:not(:checked), .collapsible3 label:hover:not(:checked), .collapsible4 label:hover:not(:checked) {
    background-color: #474747; /* Change color on hover */
}

.collapsible input:checked + label, .collapsible2 input:checked + label, .collapsible3 input:checked + label, .collapsible4 input:checked + label {
    background-color: #707070; /* Change color when clicked */
}

.collapsible label i, .collapsible2 label i, .collapsible3 label i, .collapsible4 label i {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.collapsible input:checked + label i, .collapsible2 input:checked + label i, .collapsible3 input:checked + label i, .collapsible4 input:checked + label i {
    transform: rotate(45deg); /* Adjust the degree as needed */
}

.collapsible-text, .collapsible-text2, .collapsible-text3, .collapsible-text4 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.collapsible input:checked ~ .collapsible-text, .collapsible2 input:checked ~ .collapsible-text2, .collapsible3 input:checked ~ .collapsible-text3, .collapsible4 input:checked ~ .collapsible-text4 {
    max-height: 300px;
    color: white;
    padding-bottom: 25px;
    background: #303030;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
}

.collapsible-text p, .collapsible-text2 p, .collapsible-text3 p, .collapsible-text4 p {
    padding: 15px;
}

/*----------------------------------------OPEN WORLD PAGE--------------------------------------------*/
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}
.navbar a:hover {
    color: #47f7b7;
}
.navbar a:hover::before {
    width: 100%;
    background: #47f7b7;
}

.OWTitle {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-image: url(Images/controller.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}
.OWTitle h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}

.mainlist {
    background-color: #0e0132;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}
.Open-World {
    background-color: #270D4E;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    padding: 30px;
    width: 12em;
    height: 2em;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.OWGameList {
    padding: 50px;
    background-color: #0e0132;
    display: flex;
    justify-content: space-around; /* Change to space-around or center */
    flex-wrap: wrap; /* Allow wrapping if needed */
    margin-bottom: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.game1 {
    padding: 30px;
    text-align: center;
    align-items: center;
    background-color: #180534;
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 15em;
    height: 35em;
    margin-left: 1px; /* Adjust margin to control space between items */
    margin-bottom: 50px;
    transition: 0.5s;
}
.game1:hover {
    transform: scale(1.1);
    background-color: #400e8b;
    box-shadow: 0 0 20px #47f7b7;
    border-style: none;
    z-index: 2;
}

.game1 img {
    max-width: 100%;
    height: 180px;
    margin-bottom: 10px;
}

.gametitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.nextSlide {
    padding: 15px;
    font-size: 40px;
    color: gray;
}


/*--------------------------------------------FOOTER------------------------------------------------*/

footer{
    position: sticky;
    width: 100%;
    color: #fff;
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    padding: 80px 0 30px;
    background: linear-gradient(to right, #00093c, #0E0132);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.row-footer{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col-footer{
    flex-basis: 20%;
    padding: 10px;
}

.col-footer:nth-child(2),.col-footer:nth-child(3){
    flex-basis: 15%;
}

.col-footer h3{
    margin-bottom: 40px;
    position: relative;
}
.col-footer h4{
    font-size: 13px;
    line-height: 20px;
}

.Footerlogo{
    width: 80px;
    margin-bottom: 20px;
}

.email-id{
    width: 79%;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col-footer ul li{
    list-style: none;
    margin-bottom: 12px;
    padding-left: 0px;
    padding-top: 0px;
}

.col-footer ul li a{
    text-decoration: none;
    color: #fff;
}

.col-footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.col-footer .fa-envelope{
    font-size: 18px;
    margin-right: 10px;
}

.col-footer form input{
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
}

::placeholder {
  color: #fff;
  opacity: 0.5; 
}

.col-footer form button{
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col-footer form button .fa{
    font-size: 16px;
    color: #ccc;
    
}

footer p{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    padding: 0px;
}

.icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline-office{
    width: 18%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline-links{
    width: 15%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline-news{
    width: 23%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline-office span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.underline-links span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.underline-news span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}


@media(max-width: 700px){
    .row{
        flex-direction: row;
        
    }
    
    .footer{
        bottom: unset;
    }
    
    .col-footer{
        flex-basis: 100%;
    }
    
    .col-footer:nth-child(2), .col-footer:nth-child(3){
        flex-basis: 100%;
    }

}

@media(max-width: 911px){
 .contact-cover{
        background: #03a9f5;
    }
    
    .contactUs{
        padding: 20px;
    }
    
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form" 
            "info" 
            "map";
    }

    .formBox .row50{
        display: flex;
        column-gap: 0;
        flex-direction: column;
    }
    
    .inputBox{
        width: 100%;
    }
    
    .contact{
        padding: 30px;
    }
    
    .map{
        min-height: 300px;
        padding: 0;
    }
}