* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/*--------------------------SIGN UP--------------------------------*/
.LSHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    background: #0E0132;
    color: white;
}

.logo {/*FOR ALL PAGES*/
    display: flex;
    align-items: center;
}

.logo img , .boostify img{/*FOR ALL PAGES*/
    width: 60px;
    height: 40px;
    padding-right: 10px;
}

.LSLogin, .Register-btn, .Login-btn {
    border-radius: 5px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    background-color: #05cb82;
    border: none;
    cursor: pointer;
}
.LSright button:hover, .Register-btn:hover, .Login-btn:hover {
    background-color: #47f7b7;
    box-shadow: 0 0 10px #47f7b7;
    color: white;
    transition: 200ms;
}

.container {
    position: relative;
    height: 650px;
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.SignUp-container, .Login-container {
    background-color: #0E0132;
    border-radius: 20px;
    isolation: isolate;
    padding: 50px;
}

.SignUp-container h1, .Login-container h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}

.SignUp-container p, .Login-container p {
    color: white;
    font-size: 15px;
}

.SignUp-container input, .Login-container input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

.Register-btn, .Login-btn {
    margin-bottom: 20px;
}

.container::before {
    background-image: url('/IM2_Booster/Images/controller.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.9;
}




/*--------------------------------------------FOOTER------------------------------------------------*/

footer{
    position: sticky;
    width: 100%;
    color: #fff;
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    padding: 80px 0 30px;
    background: linear-gradient(to right, #00093c, #0E0132);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.row-footer{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col-footer{
    flex-basis: 20%;
    padding: 10px;
}

.col-footer:nth-child(2),.col-footer:nth-child(3){
    flex-basis: 15%;
}

.col-footer h3{
    margin-bottom: 40px;
    position: relative;
}
.col-footer h4{
    font-size: 13px;
    line-height: 20px;
}

.Footerlogo{
    width: 80px;
    margin-bottom: 20px;
}

.email-id{
    width: 79%;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col-footer ul li{
    list-style: none;
    margin-bottom: 12px;
    padding-left: 0px;
    padding-top: 0px;
}

.col-footer ul li a{
    text-decoration: none;
    color: #fff;
}

.col-footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.col-footer .fa-envelope{
    font-size: 18px;
    margin-right: 10px;
}

.col-footer form input{
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
}

::placeholder {
  color: #fff;
  opacity: 0.5; 
}

.col-footer form button{
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col-footer form button .fa{
    font-size: 16px;
    color: #ccc;
    
}

footer p{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    padding: 0px;
}

.icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline-office{
    width: 18%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline-links{
    width: 15%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline-news{
    width: 23%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline-office span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.underline-links span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.underline-news span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}


@media(max-width: 700px){
    .row{
        flex-direction: row;
        
    }
    
    .footer{
        bottom: unset;
    }
    
    .col-footer{
        flex-basis: 100%;
    }
    
    .col-footer:nth-child(2), .col-footer:nth-child(3){
        flex-basis: 100%;
    }

}

@media(max-width: 911px){
 .contact-cover{
        background: #03a9f5;
    }
    
    .contactUs{
        padding: 20px;
    }
    
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form" 
            "info" 
            "map";
    }

    .formBox .row50{
        display: flex;
        column-gap: 0;
        flex-direction: column;
    }
    
    .inputBox{
        width: 100%;
    }
    
    .contact{
        padding: 30px;
    }
    
    .map{
        min-height: 300px;
        padding: 0;
    }
}